<!-- <div class="row item-details">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <img src={{item.imgPath}} alt="img">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <p>
      Title: <b>{{item.title}}</b>
      <br>
      Prize: <b>{{item.prize}}</b>
      <br>
      <button mat-raised-button color="primary">Add To Cart</button>
      <br>
      <button mat-raised-button class="go-back" (click)="goBack()">go back</button>
    </p>
  </div>
</div> -->

<mat-card class="item-details">
  <mat-card-header>
    <mat-card-title>{{item.title}} Details</mat-card-title>
  </mat-card-header>
  <img class="image-in-card" mat-card-image src={{item.imgPath}} alt="img">
  <mat-card-content>
    Title: <b>{{item.title}}</b>
    <br>
    Prize: <b>{{item.prize}}</b>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart()">Add To Cart</button>
    <button mat-raised-button class="go-back" (click)="goBack()">go back</button>
  </mat-card-actions>
</mat-card>

<a routerLink="/cart"><button mat-raised-button color="primary">Show Cart Items</button></a>